
.navbar {
background: black;
}

body {
font-family: Arial, Helvetica, verdana, arial, sans-serif;
font-size: 15px;
border: 0 none;
padding-top: 50px;
}


.sidenav {
background-color: #f1f1f1;
height: 100%;

}

.row {
    height: 1500px;
}

footer {
background: black;
color: white;
}

.nav.navbar-nav.navbar-right li a {
color: white;
font-size:18px;
}

.btn.btn-danger.navbar-btn.login {
    margin-right:30px;
}


.btn.btn-info.navbar-btn.create {

}


.nav.navbar-nav.navbar-right li a:hover {
background-color: #555;
color: red;
}



.nav.nav-pill.nav-stacked li a {
font-size:18px;
padding-top:20px;
}


.nav.nav-pill.nav-stacked li a:hover {
background-color: #555;
color: white;
}


.col-sm-8.content {
margin-left: 100px;
padding-top: 20px;
}


a.category{
margin: 0 0.1em;
padding: 0.3em 1em;
background: #df2d4f;
font-size: 90%;
color: white;
font-size: 12px;
margin-left:15px;

}

a.category:hover {
background: #479900;
text-decoration: none;
}


.postAt {
margin-left: 30px;
font-size: 14px;
text-align: right;
}

#underLine {
display: block;
margin-top: 0.5em;
margin-bottom: 0.5em;
margin-left: auto;
margin-right: auto;
border-style: inset;
border-width: 1px;
}

.head {
font-size: 20px;
float: right;
font-weight: bold;
}

.title {
color:black;
}

.title:hover {
color: #ff8000;
text-decoration: none;
}


span.timeLocation {
font-style: italic;
font-size: 15px;
color: black;
float: right;
}

.time {
color: #66b2ff;
}

.readMore:hover {
background: #99ccff;
text-decoration: none;
}


.glyphicon.glyphicon-edit.editIcon{
    margin-left: 50px;
    font-size: 30px;

}

.glyphicon.glyphicon-remove-circle.deleteIcon {
    margin-left: 30px;
    font-size: 30px;
}

.link{
    margin-top: 50px;
}

.nav.nav-pill.nav-stacked.tools li a {
font-size:16px;
padding-top:10px;
color: #cc0066;
}


.nav.nav-pill.nav-stacked.tools li a:hover {
background-color: #555;
color: white;
}

.totalPost {
font-size: 20px;
font-weight: bold;
}
