{% extends "base.html" %}

{% block content %}
<div>
    {% if error %}
    <h2>No Content Found</a></h2>
    {% else %}
    {% for post in post_list %}
        <section>
            <header>
                <h2><a href="{% url "detail" id=post.id %}">{{ post.title }}</a></h2>

                    <p >
                        Time:  <a  href="#">{{ post.date_time |date:"Y /m /d"}}</a>
                        <a href="{% url "search_tag" tag=post.category %}">{{ post.category }}</a>
                    </p>
            </header>
        </section>
    {% endfor %}
    {% endif %}
</div><!-- /.blog-post -->
{% endblock %}