{% extends "base.html" %}
{% load dractags %}
{% block content %}
<div class="posts">
    {% if error %}
        <h2 class="post-title">Can not find any articles</a></h2>
    {% else %}
    {% for post in post_list %}

        <h3><a class = "title" href="{% url "detail" slug=post.slug %}">{{ post.title }}</a></h3><hr>
        <p>
            <span class="glyphicon glyphicon-time">&nbsp</span>Posted at :<a class="time" href="#">&nbsp;&nbsp;{{ post.date_time |date:"Y M d"}}</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a class = "category" href="{% url "search_tag" tag=post.category %}">{{ post.category }}</a>
        </p>

        <p class="left30">{{ post.shortDes|safe_markdown}}</p>
        <button class="pull-right"><a href="{% url "detail" slug=post.slug %}">Read More>>></a></button>
        <br><br>
    {% endfor %}
    {% endif %}
</div>
{% endblock %}