<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <title>Code Fish</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!--my CSS-->
    <link href="{% static "css\codefish.css" %}" rel="stylesheet" />
    <link href="{% static "css\github.css" %}" rel="stylesheet" />

</head>

<body>
    <!-- Top nav bar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <!--Nav header with log-->
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url "home" %}">
                CODE FISH</a>
            </div>

            <!--Search bar-->
            <form class="navbar-form navbar-left" action="/search/" method="GET">

                <div class="input-group stylish-input-group">
                    <input type="text" class="form-control"  name ="search" placeholder="Search Title" >
                    <span class="input-group-addon">
                    <button type="submit">
                    <span class="glyphicon glyphicon-search"></span>
                    </button>
                    </span>
                </div>
            </form>


            <!--This is the menu items-->
            <div class="collapse navbar-collapse" id="myNavbar">
                <a href="{% url "post_create" %}"><button class="btn btn-info navbar-btn create">Create Post</button></a>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url "home" %}">Home</a></li>
                    <li><a href="{% url "about" %}">About</a></li>
                    {% if user.is_authenticated %}
                    <a href="{% url "logout" %}"><button class="btn btn-danger navbar-btn login">Logout</button></a>
					{% endif %}
					{% if not user.is_authenticated %}
					<a href="{% url "login" %}"><button class="btn btn-danger navbar-btn login">Login</button></a>
					{% endif %}
                </ul>
            </div>

            <!--This will render to a button menu in small screen like "phone"-->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

      </div>
    </nav>


    <!--Nav Side Bar-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2 sidenav">
                <h3>Learning Notes</h3>
                    <ul class="nav nav-pill nav-stacked">
                        <li><a href="{% url "search_tag" tag="Project" %}">Project</a></li>
                        <li><a href="{% url "search_tag" tag="Django" %}">Django</a></li>
                        <li><a href="{% url "search_tag" tag="Android" %}">Android</a></li>
                        <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">HTML5
                        <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Game1</a></li>
                                <li><a href="#">Game2</a></li>
                                <li><a href="#">Game3</a></li>
                            </ul>
                        </li>
                    </ul>

                    <div class="link">
                        <h3>Tools</h3>
                        <ul class="nav nav-pill nav-stacked tools">
                            <li><a href="https://stackedit.io/"><p>Online Markdown Edit</p></a></li>
                        </ul>
                    </div>
            </div>

            <!--Body for post-->
            <div class="col-sm-8 content">
                <div>
                    {% block content %}
                    {% endblock %}
                </div>
            </div>

        </div>
    </div>


    <!--Footer-->
    <footer>
      <div class="container text-center">
          <p class="pull-right"><a href="#">Back to top</a></p>
          <p>Copyright © 2016  codefish.ca  All Rights Reserved.   Designed by:  <a href="{% url "about" %}">Dong Qian</a></p>
      </div>
    </footer>


   <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script
        src="https://code.jquery.com/jquery-1.12.4.min.js"
        integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
        crossorigin="anonymous">
            
    </script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">

    </script>

 
    <!--CDN markdown-->
<!--     <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.6/marked.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            $(".content-markdown").each(function(){
                var content = $(this).text()
                console.log(content)
                var markedContent = marked(content)
                console.log(markedContent)
                //$(this).html(markedContent)
            })
       })

    </script> -->

</body>
</html>
