<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <title>Code Fish</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="{% static "css/codefish.css" %}" rel="stylesheet" />
</head>
<body>
<!-- Top nav bar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url "home" %}">Code Fish</a>
    </div>

      <!--Search bar-->
      <form class="navbar-form navbar-right" action="/search/" method="get">
         <div class="input-group stylish-input-group">
                    <input type="text" class="form-control"  name ="search" placeholder="Search title" >
                    <span class="input-group-addon">
                        <lable type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </lable>
                    </span>
         </div>
      </form>

    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url "home" %}">Home</a></li>
        <li><a href="{% url "about" %}">About</a></li>
      </ul>
    </div>
  </div>
</nav>


<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-2 sidenav">
      <h4>Learning Notes</h4>
      <ul class="nav nav-pill nav-stacked" data-spy="affix" data-offset-top="100">
          <li><a href="{% url "search_tag" tag="Project" %}">Project</a></li>
        <li><a href="{% url "search_tag" tag="Django" %}">Django</a></li>
        <li><a href="{% url "search_tag" tag="Android" %}">Android</a></li>
      </ul>
    </div>

      <div class="col-sm-1">

    </div>
    <!--Body for post-->
    <div class="col-sm-6">
        <div>
            {% block content %}
            {% endblock %}
        </div>

    </div>

  </div>

</div>

<footer>
  <div class="container text-center">
      <p class="pull-right"><a href="#">Back to top</a></p>
      <p>Copyright © 2016  codefish.ca  All Rights Reserved.   Designed by:  <a href="{% url "about" %}">Dong Qian</a></p>
  </div>
</footer>

</body>
</html>
