{% extends "base.html" %}

{% block content %}
<div class="posts">
    {% for post in post_list %}
        <section>
            <header>
                <h2 ><a href="{% url "detail" id=post.id %}">{{ post.title }}</a></h2>

                    <p>
                        Time:  <a  href="#">{{ post.date_time |date:"Y M d"}}</a>
                        <a href="{% url "search_tag" tag=post.category %}">{{ post.category }}</a>
                    </p>
            </header>

                <div>
                    <p>
                        {{ post.content|truncatewords_html:50 }}
                    </p>
                </div>
                <a href="{% url "detail" id=post.id %}">Read More >>> </a>
        </section>
    {% endfor %}
</div><!-- /.blog-post -->
{% endblock %}