<!--post list from category or search-->
{% extends "base.html" %}
{% load custom_markdown %}
{% block content %}
<div>
    {% if error %}
        <h2 class="post-title">No articles match your search!</a></h2>
    {% else %}
    <div>
        <h3 class ='totalPost'> Total Posts: {{ post_list.count }}<span class="head">Category - {{ post_list.0.category }} </span></h3>
        <hr id="underLine">
    </div>
    <br>
    {% for post in post_list %}

        <!--post title and category-->
        <h3><a class="title" href="{% url "postDetail" slug=post.slug %}">{{ post.title }}</a>
            <a class ="category" href="{% url "search_tag" tag=post.category %}">{{ post.category }}</a>
            <span class="timeLocation"><span class="glyphicon glyphicon-time">&nbsp;</span> Posted at&nbsp;:&nbsp;&nbsp;<span class="time">{{ post.date_time | timesince}} ago</span></span>
        </h3><br>

        <!--post content with limit words-->
        <p class="content-markdown">{{ post.content|custom_markdown|truncatewords_html:50 }}<a href="{% url "postDetail" slug=post.slug %}">&nbsp;&nbsp;&nbsp;Read More</a></p>

        <br><br><br>
    {% endfor %}
    {% endif %}


    <div class="container text-center">
        <ul class="pagination">
            {% if post_list.has_previous %}
                <li><a href="?page={{ post_list.previous_page_number }}">Prev</a></li>
            {% endif %}
            {% for page in post_list.paginator.page_range %}
                <li class="{% if post_list.number == page  %}active{% endif %}"><a href="?page={{page }}">{{ page }}</a></li>
            {% endfor %}

            {% if post_list.has_next %}
                <li> <a href="?page={{ post_list.next_page_number }}">Next</a></li>
            {% endif %}
        </ul>
    </div>


</div>
{% endblock %}