{% extends "base.html" %}
{% load dractags %}
{% block content %}
<div>
    {% for post in post_list %}
        <section>
            <header>
                <h2><a class="title" href="{% url "detail" id=post.id %}">{{ post.title }}</a></h2>

                    <p >
                        <span class="glyphicon glyphicon-time">&nbsp;</span>Posted at : <a class="time"  href="#">&nbsp;{{ post.date_time|date:"Y /m /d"}}</a>&nbsp;&nbsp;&nbsp;&nbsp;
                        <a  class="category" href="{% url "search_tag" tag=post.category %}">{{ post.category }}</a>
                    </p>
            </header>

                <div>
                    <p class="left30">
                        {{ post.shortDes}}
                    </p>
                    <button class="pull-right"><a href="{% url "detail" id=post.id %}">Read More>>> </a></button>
                </div>
        </section>
    {% endfor %}
</div><!-- /.blog-post -->
{% endblock %}