
{% extends "base.html" %}
{% block content %}


    <div class ="col-sm-8">
        <center>
            <div>
                <center><h1>Space Ship Game</h1></center>
            </div><br><br>
            <canvas id="myCanvas" width="800" height="550"></canvas><br><br>
            <button type="button"  class="btn btn-danger" onclick="startGame()">Start Game</button>
        </center>
    </div>


    <div class="col-sm-4">
        <br><br><br><br><br><br>
        <h3>1. Use arrow key to move the ship</h3><br>
        <h3>2. Avoid the Planets to keep alive</h3><br>
        <h3>3. Try to get highest Score</h3>
    </div>

{% endblock %}
